body {
	width: 1000px;
	margin: auto;
}

#logo img{
	width: 125px;
}

ul li{
	display: inline;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	float: left;
	padding-left: 0px;
	padding-right: 64px;     
	padding-bottom: 5px;
	padding-top: 5px;
	
}

a {
	color: #E3695A;
	text-decoration: none;
}

a:hover {
	color: #b0b0b0;
}

#current {
	color: #371668;
}


ul {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 1000px;
}


.right {
	padding-right: 0px;
}
	

.clear {
	clear: both;
}

#footer {
	clear: both;
	font-family: 'Montserrat', sans-serif;
	font-size: 10px;
	text-align: center;
	padding-top: 35px;
	word-spacing: 1px;
	padding-bottom: 10px;
}
