body{
    display: block;
}

#logo img{
    height: 125px;
	width: 125px;
    float: left;
    margin: 25px;
    border: 4px solid #000000;
}

#title h1{
    float: left;
    font-size: 32pt;
    padding-left: 100px;
    padding-top: 100px;
}

#leftbox {
	clear: both;
	max-width: 330px;
    padding-right: 3%;
}

#middlebox {
	max-width: 330px;
	padding-left: 3%;
    padding-right: 3%;
}

#rightbox {
	max-width: 330px;
	float: left;
	padding-left: 3%;
}

.text{
    float: left;
}

