body{
    background-color: beige;
}

.heading{
    font-family: Veselka4F;
    font-size: 50px;
    height: 100%;
    width: 75%;
    color: rgb(237, 250, 57);
    background-color:#16e638;
    text-align: left;
}



h2{
    font-family: IdealistSans;
    font-size: 30px;
}

p{
    font-family: IdealistSansLight;
    text-align: justify;
    word-break: break-all;
    white-space: normal;
}



#popup5:hover {
    background: url("../images/voltage.png");
    float: left;
    display: block;
    width: 300px;
    height: 400px;
}

#popup4:hover {
    background: url("../images/codered.png");
    float: left;
    display: block;
    width: 300px;
    height: 400px;
}

#popup3:hover {
    background: url("../images/dew.png");
    float: left;
    display: block;
    width: 300px;
    height: 400px;
}

#popup2:hover {
    background: url("../images/baja.png");
    float: left;
    display: block;
    width: 300px;
    height: 400px;
}

#popup1:hover {
    background: url("../images/whiteout.png");
    float: left;
    display: block;
    width: 300px;
    height: 400px;
}